@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "Aquarelle";
    src: url("/src/Aquarelle.ttf");
}

@font-face {
    font-family: "Thedream";
    src: url("/src/the-dream-regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Infant';
}

header {
    background: url(/images/bg_h.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    text-align: center;
    height: 700px;
}

header .names p {
    font-family: Aquarelle;
    font-size: 57px;
    color: #1a1a1a;
    margin: 0;
}

header .names .name {
    padding-top: 180px;
}

header .names .and {
    font-family: Thedream;
}

header .desc {
    margin-top: 30px;
}

header .desc p {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Cormorant Infant', sans-serif;
}

header .date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

header .date p {
    margin: 0;
}

header .date .weekday, header .date .time {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 57px;
    text-transform: uppercase;
    font-size: 10px;
    padding: 3px;
}

header .date .days {
    margin: 0 20px;
}

header .date .days .month {
    font-size: 10px;
}

header .date .days .day {
    font-size: 45px;
}

header .date .days .year {
    font-size: 14px;
}

header .timer {
    display: flex;
    justify-content: center;
}

header .timer div {
    display: flex;
    flex-direction: column;
    font-family: Aquarelle;
    margin: 0 10px;
    font-size: 10px;
}

header .timer div span {
    font-size: 16px;
}

main {
    background: url(/images/bg3.png);
    background-size: 571px;
}

.invitation {
    background: url(/images/bg1.png);
    background-size: 428px;
}

.invitation .container {
    background: rgba(255, 255, 255, 0.91);
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    text-align: center;
}

.invitation .container .dear-guest {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.invitation .container .title {
    font-family: Aquarelle;
    font-size: 34px;
    margin-bottom: 0;
}

.invitation .container .desc {
    font-size: 16px;
    margin: 0;
}

.invitation .container .img img {
    width: 100%;
}

.invitation .container .img .desc {
    font-family: 'Aquarelle';
    font-size: 25px;
    margin: 0;
}

.invitation .container .gifts .desc {
    margin-bottom: 10px;
}

.container-form {
    background: #fff;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    text-align: center;
}

.container-form .desc {
    font-size: 16px;
}

.container-form form {

}

.container-form form .title {
    font-weight: 700;
    margin-left: 100px;
}

.container-form form .title span {
    font-weight: 100;
    font-size: 14px;
}

.container-form form p input[type='text'] {
    border: 1px solid #adb5bd;
    padding: 5px;
    border-radius: 0.25em;
}

.container-form form p {
    margin-left: 130px;
    text-align: left;
}

/**/
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .custom-checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
/**/

.container-form form .submit {
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 15px;
    font-family: 'Cormorant Infant';
    text-transform: uppercase;
    cursor: pointer;
}

.schedule {
    background: rgb(255, 252, 233);
}

.schedule .container {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    text-align: center;
}

.schedule .container .title-block {
    font-family: Aquarelle;
    font-size: 34px;
}

.schedule .container .contents {
    display: flex;
    text-align: left;
    justify-content: center;
    margin-bottom: 70px;
}

.schedule .container .contents .content {
    width: 60%;
    margin-left: 110px;
}

.schedule .container .contents .content p {
    margin: 0;
}

.schedule .container .contents .content .desc {
    color: #808080;
}

.schedule .container .contents .content .text {
    font-family: 'Aquarelle';
    font-size: 15px;
    margin-top: 20px;
    margin-left: -30px;
    width: 90%;
}

footer iframe {
    width: 100%;
}

footer p {
    margin: 0;
    text-align: center;
    font-size: 10px;
}